{{define "title"}}SUNCORK | Sobre nosotros{{end}} {{define "content"}}
<pre style="white-space: pre-wrap; border: none">

<strong>
        Sobre el corcho
</strong>
El cuero de corcho es un material de la corteza del alcornoque. Este árbol tiene corteza rugosa que
desarrolla un espesor considerable y se puede cosechar cada 9 a 12 años. Es un material 100% natural.

<strong>
        ¿Cómo se hace el cuero de corcho?
</strong>
La primera etapa de la producción de corcho es: la corteza del arbol se deja durante 6 meses para
secarse. Después de este período, se sumergen en agua caliente para eliminar contaminantes y hacerlo
mas flexible. Al igual que se hace con el cuero, se cortan unas laminas del tamaño de una hoja de papel.
Para hacer el corcho duradero, las hojas se pegadan con un textil.

<strong>
        Características del corcho
</strong>
El cuero de corcho es un material de muchas ventajas. Este material es 100% natural. Es ecológico. A
pesar de todo este material es durable pero ligero, durable, resistente, diferente, suave, impermeable,
lavable, elástico e hipoalergénico.

<strong>
        ¿Cómo limpiarlo?
</strong>
Como escrito anteriormente este material es impermeable. Para lavarlo necesitarán un paño suave y
agua templada. Lo mismo se puede hacer con un trapo para bebés. También para eliminar puntos como
pluma de tinta y etc, pueden utilizar alcohol.


</pre> {{end}}