<nav uk-navbar class="navbar uk-navbar-container uk-navbar-transparent">
    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
            <li class="uk-active">
                <a class="cart-link" href="/cart">
                    <span uk-icon="icon: cart; ratio: 0.7"></span>{{if .cart}}
                    <span class="uk-badge">{{len .cart}}</span>{{end}}
                </a>
            </li>
            {{if .admin}}
            <li>
                <a href="/shestakova/translations">
                    <span uk-icon="icon: world; ratio: 1"></span>
                </a>
            </li>
            <li>
                <a href="/shestakova">
                    <span uk-icon="icon: plus; ratio: 1"></span>
                </a>
            </li>
            <li>
                <a href="/logout">
                    <span uk-icon="icon: sign-out; ratio: 1"></span>
                </a>
            </li>
            {{end}}
        </ul>
    </div>
    <div class="uk-navbar-center">
        <ul class="uk-navbar-nav">
            <li class="uk-active">
                <a href="/">
                    <img style="max-height: 170px" src="/public/logo.png" alt="">
                </a>
            </li>
        </ul>
    </div>
    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
            <li>
                <a href="/language?lang=es">ES</a>
            </li>
            <li>
                <a href="/language?lang=en">EN</a>
            </li>
        </ul>
    </div>
</nav>

<script>
    var free = window.scrollY != 0;
    window.onscroll = function () {
        if (window.scrollY != 0 && !free && !isMobile()) {
            anime({
                targets: '.navbar',
                paddingBottom: '40px',
            });
            document.querySelector(".navbar").style.position = 'fixed';
            document.querySelector("#content").style.marginTop = '100px';
            free = true;
        }
        if (window.scrollY == 0 && free && !isMobile()) {
            anime({
                targets: '.navbar',
                paddingBottom: '100px',
            });
            document.querySelector(".navbar").style.position = 'relative';
            document.querySelector("#content").style.marginTop = '0';
            free = false;
        }
    }

    function isMobile() {
        if (window.innerWidth <= 1000) {
            return true;
        } else {
            return false;
        }
    };
</script>